﻿body {
    background-color: #ebe9d7;
}

.container {
    background-color: #ebe9d7;
    background-size: 100% 100%;
    min-height: 100vh;
    min-width: 100vh;
    position: relative;
}

#logo-login {
    max-width: 285px;
    position: absolute;
    top: 200px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

h4 {
    position: absolute;
    top: 320px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    min-width: 180px;
}

p.loren {
    position: absolute;
    top: 400px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-size: 18px;
    min-width: 370px;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    width: 351px;
}

#email {
    position: absolute;
    top: 482px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: url(/assets/envelope.png) no-repeat scroll 7px 7px;
    padding-left: 30px;
}

#password {
    position: absolute;
    top: 547px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: url(/assets/padlock.png) no-repeat scroll 7px 7px;
    padding-left: 30px;
}

.icon {
    color: #ee4c77;
}

.fa-envelope {
    position: absolute;
    top: 475px;
    left: 365px;
}

.fa-unlock-alt {
    position: absolute;
    top: 540px;
    left: 365px;
}

#submit-button {
    width: 324px;
    max-width: 324px;
    height: 53px;
    max-height: 53px;
    border-radius: 3.6px;
    color: white;
    background-color: #57bbbc;
    position: absolute;
    top: 640px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}
