﻿.container {
    padding: 0 !important;
    position: relative;
}

.navbar, .navbar-expand-lg {
    background-color: #ee4c77;
    padding: 0 !important;
    min-height: 100px;
}

#searchbox {
    position: absolute;
    top: 60px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 950px;
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    background: url(/assets/search.png) no-repeat scroll 16px 16px;
    padding-left: 50px;
    font-size: 24px;
}