﻿.container {
    padding: 0 !important;
    position: relative;
}

.navbar, .navbar-expand-lg {
    background-color: #ee4c77;
    padding: 0 !important;
    min-height: 100px;
}

#logo {
    max-width: 185px;
    position: absolute;
    top: 50px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

#search {
    height: 50px;
    width: 50px;
    color: white;
    position: absolute;
    left: 95%;
}

p {
    font-family: Roboto;
    font-size: 32px;
    min-width: 550px;
}